* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 1500px;
}

.header {
  font-family: "Bigelow Rules", cursive;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #333;
  padding: 40px;
}
