* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 1500px;
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4389a2,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4389a2,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  font-family: "Bigelow Rules", cursive;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #009688;
  padding: 50px;
}
.input-group
  > .input-group-append:last-child
  > .btn:not(:last-child):not(.dropdown-toggle),
.input-group
  > .input-group-append:last-child
  > .input-group-text:not(:last-child),
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  background-color: transparent;
  color: #ccc;
}
